// Instagram Preview Variables
$instagram-preview-text-color: #262626;
$instagram-preview-light-text-color: #8e8e8e;
$instagram-preview-background-color: #fff;
$instagram-preview-border-color: #dbdbdb; 